.container{    background: yellow;
    height: 600px;
    width: 800px;
    margin: 0 auto;}
.header{    background: black;
    height: 9%;
    width: 100%;}
.logo{    background: orange;
    height: 100%;
    width: 33%;
    float: left;}
.menu{    background: red;
    height: 100%;
    width: 67%;
    float: left;}
.banner{    background: #3145d9;
    height: 25%;
    width: 100%;}
.body{    background: black;
    height: 42%;
    width: 100%;}
.body1{    background: red;
    height: 100%;
    width: 50%;
    float: right;}
.body2{    background: gray;
    height: 50%;
    width: 50%;
    float: left;}
.body3{    background: #d1b320;
    height: 50%;
    width: 50%;
    float: left;}
.footer{    background: #97297a;
    height: 24%;
    width: 100%;}
.about{    background: lightgreen;
    height: 60%;
    width: 100%;}
.contact{    background: black;
    height: 39%;
    width: 100%;}